body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
/*.user-details {
	width: 25%;
}*/
.borderless > .list-group-item { border: none; }

.user-details {
  max-height: 300px;
  width: auto;
}

.org-card {
  max-width: 300px;
  padding-top: 20px;
}
.org-logo {
  max-width: 150px;
}

.card-timestamp {
  margin: 0;
}

.timestamp-box {
  margin-top: 15px;
}
.repo-card {
  min-height: 100px;
}
